.navbar {
    height: 70px;

    background-color: var(--navbar);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;

    border-bottom: 1px solid var(--border);

    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.navbar h1 {
    font-size: 20px;
}

.navbar-user {
    font-size: 14px;
    font-weight: bold;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-toggle {
    display: none;

    border: none;
    background: transparent;

    font-size: 24px;
    cursor: pointer;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}
